{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i>Utilisateur</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tbody>
                <tr>
                    <th>Username</th>
                    <td>
                        <p>{{ user.username }}</p>
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        <p>{{ user.email }}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
