{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>{{ 'L utilisateur est crée avec succés!!!'|trans({'%username%': user.username}) }}</p>
    <p><a href="{{  path('fos_user_security_login') }}">Voulez vous vous connecter</a></p>
{% endblock fos_user_content %}
