{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
    .error-message{
        border:1px solid #000;
        background-color: #999;
        text-align: center;
        font-size: 15px;
        display: none;
    }
</style>
{% endblock %}
{% block body %}

        <div class="container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">New employer</div>
                <div class="card-body">
                    <form class="form-horizontal" id="form">
                    <div class="form-group">
                        {# Génération du label. #}
                        {{ form_label(form.nomDep, "Non departement",{'label_attr': {'class': 'col-sm-6 control-label'}}) }}
                        {# Génération de l'input. #}
                        {{ form_widget(form.nomDep, {'attr': {'class': 'form-control'}},{'id': "nom"})  }}
                        <span class="error-message">error</span>
                    </div>
                    <button type="submit" value="Ajouter"  id="formBtn" class="btn btn-primary btn-block" >Ajouter</button>

                    </form>
                </div>
            </div>
            <a href="{{ path('departement_index') }}" class="btn btn-info">Back to the list</a>
        </div>

{% endblock %}

{% block javascripts %}
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#form').on('submit', function(e) {
                e.preventDefault();
                alert('ok');
                var noms = $( 'nom');
                var valid =true;
                if($("#nom").val() == " "){
                    $("#noms").next(".error-message").fadeIn().text('Veuiller enter le nom du departement');
                    valid = false;
                }
                return valid;

            });
        });
    </script>
{% endblock %}