{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
    #dep label{
        display: inline-block;
        width: 100px;
        text-align: right;
    }
    #dep_submit{
        padding-left: 100px;
    }
    #dep div{
        margin-top: 1em;
    }
    textarea{
        vertical-align: top;
        height: 5em;
    }
    .error{
        display: none;
        margin-left: 10px;
    }

    .error_show{
        color: red;
        margin-left: 10px;
    }
    input.invalid, textarea.invalid{
        border: 2px solid red;
    }

    input.valid, textarea.valid{
        border: 2px solid green;
    }
</style>
{% endblock %}
{% block body %}

        <div class="container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">New employer</div>
                <div class="card-body">
                    <form class="form-horizontal" id="form"   action="">
                        <div class="form-group">
                            <label for="nomDep">Departement</label>
                            <input class="form-control" type="text" id="button" name="nomDep" value="{{ departement.nomDep }}" required="required" autocomplete="nomDep" />
                        </div>
                        <div id="dep_submit">
                            <button type="submit" class="btn btn-primary btn-block" >Ajouter</button>
                            <span class="error">This field is required</span>
                        </div>
                    </form>
                </div>
            </div>
            <a href="{{ path('departement_index') }}" class="btn btn-info">Back to the list</a>
        </div>

{% endblock %}

{% block javascripts %}
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="{{ asset('templates/vendor/jquery/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#button").click(function(){
                var nomDep=$("#nomDep").val();

                $.ajax({
                    url:'departement_new',
                    method:'POST',
                    data:{
                        nomDep:nomDep,
                    },
                    success:function(data){
                        alert(data);
                    }
                });


            });
        });
    </script>
{% endblock %}